<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.helpaddons.rcp.product.application"
            name="%appName">
         <property
               name="appName"
               value="%appName">
         </property>
         <property
               name="windowImages"
               value="icons/help16.gif,icons/help32.gif,icons/help48.gif,icons/help64.gif,icons/help128.gif">
         </property>
      </product>
   </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            icon="icons/help16.gif"
            thread="main"
            visible="true">
         <run
               class="net.sf.helpaddons.rcp.product.HelpRcpApplication">
         </run>
      </application>
   </extension>
   <extension
         id="rcpIndexer"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.helpaddons.rcp.product.RcpIndexer">
         </run>
      </application>
   </extension>
   <extension
         id="webIndexer"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.helpaddons.rcp.product.WebIndexer">
         </run>
      </application>
   </extension>
   <extension
         id="webApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="main"
            visible="true">
         <run
               class="net.sf.helpaddons.rcp.product.HelpWebApplication">
         </run>
      </application>
   </extension>

</plugin>
